.mapCell {
	border: 3px solid black;
	height: 50px;
	width: 50px;
	float: left;
	background-color: #00FF00;
	font-size: 32pt;
	text-align: center;
}
.mapRow {
	clear: both;
}
.mapHeaderColumn {
	border: 3px solid white;
	height: 50px;
	width: 50px;
	float: left;
	font-size: 24pt;
	text-align: right;
	vertical-align: middle;
}
.mapHeaderRow {
	border: 3px solid white;
	height: 50px;
	width: 50px;
	float: left;
	font-size: 24pt;
	text-align: center;
	vertical-align: bottom;
}